In [55]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s5e7/sample_submission.csv
/kaggle/input/playground-series-s5e7/train.csv
/kaggle/input/playground-series-s5e7/test.csv

In [56]:
import pandas as pd
import numpy as np

Ssub=pd.read_csv("/kaggle/input/playground-series-s5e7/sample_submission.csv")
test=pd.read_csv("/kaggle/input/playground-series-s5e7/train.csv")
train=pd.read_csv("/kaggle/input/playground-series-s5e7/test.csv")

In [57]:
test.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [58]:
train['Time_spent_Alone'].isnull()

0       False
1        True
2       False
3       False
4       False
        ...
6170    False
6171    False
6172    False
6173    False
6174     True
Name: Time_spent_Alone, Length: 6175, dtype: bool

In [59]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           5750 non-null   float64
 2   Stage_fear                 5577 non-null   object
 3   Social_event_attendance    5778 non-null   float64
 4   Going_outside              5709 non-null   float64
 5   Drained_after_socializing  5743 non-null   object
 6   Friends_circle_size        5825 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [60]:
train.fillna({'Time_spent_Alone':11-train['Going_outside']},inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 5577 non-null   object
 3   Social_event_attendance    5778 non-null   float64
 4   Going_outside              5709 non-null   float64
 5   Drained_after_socializing  5743 non-null   object
 6   Friends_circle_size        5825 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [61]:
mask = train['Stage_fear'].isna()
train.loc[mask, 'Stage_fear'] = np.where(
    train.loc[mask, 'Social_event_attendance'] <= 5,
    'Yes',
    'No'
)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    5778 non-null   float64
 4   Going_outside              5709 non-null   float64
 5   Drained_after_socializing  5743 non-null   object
 6   Friends_circle_size        5825 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)

In [62]:
mask=train['Social_event_attendance'].isna()
train.loc[mask,'Social_event_attendance']=\
    11-train['Time_spent_Alone']
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    6175 non-null   float64
 4   Going_outside              5709 non-null   float64
 5   Drained_after_socializing  5743 non-null   object
 6   Friends_circle_size        5825 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [63]:
train['Time_spent_Alone'].describe()

count    6158.000000
mean        3.363592
std         3.071740
min         0.000000
25%         1.000000
50%         3.000000
75%         5.000000
max        11.000000
Name: Time_spent_Alone, dtype: float64

In [64]:
train['Going_outside'].describe()

count    5709.000000
mean        4.037835
std         2.045207
min         0.000000
25%         3.000000
50%         4.000000
75%         6.000000
max         7.000000
Name: Going_outside, dtype: float64

In [65]:
train.fillna({'Going_outside':11-train['Time_spent_Alone']},inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    6175 non-null   float64
 4   Going_outside              6158 non-null   float64
 5   Drained_after_socializing  5743 non-null   object
 6   Friends_circle_size        5825 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [66]:
mask = train['Drained_after_socializing'].isna()
train.loc[mask, 'Drained_after_socializing'] = np.where(
    train.loc[mask, 'Friends_circle_size'] <= 4,
    'Yes',
    'No'
)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    6175 non-null   float64
 4   Going_outside              6158 non-null   float64
 5   Drained_after_socializing  6175 non-null   object
 6   Friends_circle_size        5825 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)

In [67]:
train.fillna({'Friends_circle_size':train['Going_outside']*2},inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    6175 non-null   float64
 4   Going_outside              6158 non-null   float64
 5   Drained_after_socializing  6175 non-null   object
 6   Friends_circle_size        6175 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [68]:
train.fillna({'Post_frequency':train['Friends_circle_size']},inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    6175 non-null   float64
 4   Going_outside              6158 non-null   float64
 5   Drained_after_socializing  6175 non-null   object
 6   Friends_circle_size        6175 non-null   float64
 7   Post_frequency             6175 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [69]:
train.fillna({'Going_outside':train['Friends_circle_size']//2},inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6158 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    6175 non-null   float64
 4   Going_outside              6175 non-null   float64
 5   Drained_after_socializing  6175 non-null   object
 6   Friends_circle_size        6175 non-null   float64
 7   Post_frequency             6175 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [70]:
train.fillna({'Time_spent_Alone':11-train['Going_outside']},inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           6175 non-null   float64
 2   Stage_fear                 6175 non-null   object
 3   Social_event_attendance    6175 non-null   float64
 4   Going_outside              6175 non-null   float64
 5   Drained_after_socializing  6175 non-null   object
 6   Friends_circle_size        6175 non-null   float64
 7   Post_frequency             6175 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [71]:
train['Stage_fear']=train['Stage_fear'].map({'Yes':1,'No':0})

In [72]:
train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,18524,3.0,0,7.0,4.0,No,6.0,6.0
1,18525,11.0,1,0.0,0.0,Yes,5.0,1.0
2,18526,3.0,0,5.0,6.0,No,15.0,9.0
3,18527,3.0,0,4.0,4.0,No,5.0,6.0
4,18528,9.0,1,1.0,2.0,Yes,1.0,1.0

In [73]:
train['Drained_after_socializing']=train['Drained_after_socializing'].map({'Yes':1,'No':0})

In [74]:
train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,18524,3.0,0,7.0,4.0,0,6.0,6.0
1,18525,11.0,1,0.0,0.0,1,5.0,1.0
2,18526,3.0,0,5.0,6.0,0,15.0,9.0
3,18527,3.0,0,4.0,4.0,0,5.0,6.0
4,18528,9.0,1,1.0,2.0,1,1.0,1.0

In [86]:
from sklearn.linear_model import LogisticRegression
# X=train.values[:,:-1]
# Y=train.values[:,-1]
model=LogisticRegression(penalty=None,max_iter=2000).fit(X,Y)
# test_x=test.values[:,:-1]
# test_y=test.values[:,-1]
#sc=model.score()
result=model.predict(train.values)
result=result.T
result.shape
result=np.vstack(train[0])
result.shape

(6175,)

In [76]:
train.describe()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
count,6175.000000,6175.000000,6175.000000,6175.000000,6175.000000,6175.000000,6175.000000,6175.000000
mean,21611.000000,3.373927,0.273846,5.393522,4.285182,0.244372,7.975870,5.169393
std,1782.713288,3.076068,0.445967,2.833569,2.326757,0.429749,4.225798,3.028769
min,18524.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20067.500000,1.000000,0.000000,3.000000,3.000000,0.000000,5.000000,3.000000
50%,21611.000000,3.000000,0.000000,6.000000,4.000000,0.000000,8.000000,5.000000
75%,23154.500000,5.000000,1.000000,8.000000,6.000000,0.000000,12.000000,8.000000
max,24698.000000,11.000000,1.000000,11.000000,11.000000,1.000000,22.000000,15.000000