In [1]:
import pandas as pd
import numpy as np
from math import exp,log

In [3]:
test=pd.DataFrame(np.random.rand(3,2),
columns=['foo','bar'],index=['a','b','c'])
test

        foo       bar
a  0.498393  0.884014
b  0.151390  0.001143
c  0.231494  0.210486

In [4]:
test['my']=test.foo*2
test

        foo       bar        my
a  0.498393  0.884014  0.996785
b  0.151390  0.001143  0.302779
c  0.231494  0.210486  0.462988